<p id="notice"><%= notice %></p>

<p>
  <strong>Actors:</strong>
  <%= @series.actors %>
</p>

<p>
  <strong>Airs dayofweek:</strong>
  <%= @series.airs_dayofweek %>
</p>

<p>
  <strong>Airs time:</strong>
  <%= @series.airs_time %>
</p>

<p>
  <strong>Content raiting:</strong>
  <%= @series.content_raiting %>
</p>

<p>
  <strong>First aired:</strong>
  <%= @series.first_aired %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @series.genre %>
</p>

<p>
  <strong>Imdb:</strong>
  <%= @series.imdb_id %>
</p>

<p>
  <strong>Language:</strong>
  <%= @series.language %>
</p>

<p>
  <strong>Network:</strong>
  <%= @series.network %>
</p>

<p>
  <strong>Network:</strong>
  <%= @series.network_id %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @series.overview %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @series.rating %>
</p>

<p>
  <strong>Raring count:</strong>
  <%= @series.raring_count %>
</p>

<p>
  <strong>Runtime:</strong>
  <%= @series.runtime %>
</p>

<p>
  <strong>Series:</strong>
  <%= @series.series_id %>
</p>

<p>
  <strong>Series name:</strong>
  <%= @series.series_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @series.status %>
</p>

<p>
  <strong>Added:</strong>
  <%= @series.added %>
</p>

<p>
  <strong>Added by:</strong>
  <%= @series.added_by %>
</p>

<p>
  <strong>Banner:</strong>
  <%= @series.banner %>
</p>

<p>
  <strong>Fanart:</strong>
  <%= @series.fanart %>
</p>

<p>
  <strong>Last updated:</strong>
  <%= @series.last_updated %>
</p>

<p>
  <strong>Poster:</strong>
  <%= @series.poster %>
</p>

<p>
  <strong>Zap2it:</strong>
  <%= @series.zap2it_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @series.name %>
</p>

<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_path %>
