<p id="notice"><%= notice %></p>

<p>
  <strong>Actors:</strong>
  <%= @serie.actors %>
</p>

<p>
  <strong>Airs dayofweek:</strong>
  <%= @serie.airs_dayofweek %>
</p>

<p>
  <strong>Airs time:</strong>
  <%= @serie.airs_time %>
</p>

<p>
  <strong>Content raiting:</strong>
  <%= @serie.content_raiting %>
</p>

<p>
  <strong>First aired:</strong>
  <%= @serie.first_aired %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @serie.genre %>
</p>

<p>
  <strong>Imdb:</strong>
  <%= @serie.imdb_id %>
</p>

<p>
  <strong>Language:</strong>
  <%= @serie.language %>
</p>

<p>
  <strong>Network:</strong>
  <%= @serie.network %>
</p>

<p>
  <strong>Network:</strong>
  <%= @serie.network_id %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @serie.overview %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @serie.rating %>
</p>

<p>
  <strong>Raring count:</strong>
  <%= @serie.raring_count %>
</p>

<p>
  <strong>Runtime:</strong>
  <%= @serie.runtime %>
</p>

<p>
  <strong>Series:</strong>
  <%= @serie.series_id %>
</p>

<p>
  <strong>Series name:</strong>
  <%= @serie.serie_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @serie.status %>
</p>

<p>
  <strong>Added:</strong>
  <%= @serie.added %>
</p>

<p>
  <strong>Added by:</strong>
  <%= @serie.added_by %>
</p>

<p>
  <strong>Banner:</strong>
  <%= @serie.banner %>
</p>

<p>
  <strong>Fanart:</strong>
  <%= @serie.fanart %>
</p>

<p>
  <strong>Last updated:</strong>
  <%= @serie.last_updated %>
</p>

<p>
  <strong>Poster:</strong>
  <%= @serie.poster %>
</p>

<p>
  <strong>Zap2it:</strong>
  <%= @serie.zap2it_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @serie.name %>
</p>

<%= link_to 'Edit', edit_serie_path(@serie) %> |
<%= link_to 'Back', serie_path %>
