<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title>Solferino Butterfly<%= title ? " - #{title}" : nil %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %> outer-container">
  <div class="wrapper-for-content-outside-of-footer">
    <%= render 'refills/navigation' %>
    <%= render "flashes" -%>
    <div class="span-columns-11">
      <%= yield %>
    </div>
    <%= render "javascript" %>
    <%= render "css_overrides" %>
  </div>
  <%= render 'refills/footer' %>
</body>
</html>
